#backlinks {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

#backlinks .backlink-item {
	font-size: smaller;
	margin: 0.5em 1em;
	padding: 0.5em;
	border: 2px solid lightgray;
	border-radius: 5px;
}

#backlinks .backlink-item::before {
	content: "🔗 ";
}
